.main {
  /*vh - header - footer*/
  height: calc(100vh - 330px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-areas: 
  "image name"
  "image price"
  "image button";
  grid-template-columns: 265px;
}

.image {
  grid-area: image;
}

.name {
  grid-area: name;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-top: 28px;
  align-self: center;
}

.price {
  grid-area: price;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  align-self: center;
}

.button {
  grid-area: button;
  width: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  height: 35px;
  background-color: var(--golden);
  cursor: pointer;
  align-self: center;
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 225px;
  }
}

@media (max-width: 410px) {
  .container {
    grid-template-columns: 160px;
  }

  .image {
    width: 125px;
    height: 185px;
  }

  .name {
    font-size: 1.4rem;
    margin-top: 0px;
  }

  .price {
    font-size: 1.2rem;
  }

  .button {
    width: 140px;
  }
}