* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #020202;
  --white: #e4e4e4;
  --golden: #e59930;
}

body {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
